[Unit]
Description=Setup zram swap after boot
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/zram-setup.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
